html {
padding-top: 25px;
background-image: url(images/floor-tile.png);
}

body 
   {
     width:80%;
     padding: 20px;
     margin: 0 auto;
     border-radius:10px;
     box-shadow: 10px 10px 10px rgba(0,0,0,.5);
     background-color: #fffbd1;
     opacity: 0.8;
     background-image:  linear-gradient(#b79362 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #b79362 0.6000000000000001px, #fffbd1 0.6000000000000001px);
     background-size: 12px 12px;
   }


		.guest {
			display: flex;
			align-items: flex-start; /* text lines up with top of image */
			gap: 15px; /* space between image and text */
			margin-bottom: 30px;
		}
		.guest img {
			width: 150px;
			height: auto;
			border-radius: 8px;
		}
h1 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #8B5E3C; /* warm brown */
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* Paragraphs */
p {
    font-family: "Fuzzy Bubbles", cursive;
    color: #55372B; /* darker warm brown for readability */
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
	font-weight: 700; 
}

ul.menu {
    list-style-position: inside;
    text-align: center;
    padding-left: 0; /* remove default indentation */
    font-size: 1.2rem;
    margin: 0 auto 50px auto;
    max-width: 700px;
}

ul.menu li strong {
    font-weight: normal;               /* keep non-bold */
    font-family: "Sniglet", cursive;   /* match menu font */
    color: #4B2E1E;                    /* darker warm brown */
}

ul.menu li {
    font-family: "Sniglet", cursive;
    color: #A47149;                    /* medium brown for descriptions */
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Coiny", system-ui; /* optional, or pick a font you like */
    color: #8B5E3C;   
	font-size: 2.5rem; 
    margin-top: 50px;
    margin-bottom: 25px;
}


h2.guest-name {
    font-size: 1.5rem;      /* smaller than regular h2 */
    color: #8B5E3C;         /* warm brown, optional */
    text-align: center;        /* optional, if you want them left-aligned */
    margin-bottom: 10px;     /* spacing below guest names */
}
