/* 
/* --- Body --- */
body {
  font-family: 'Fredoka', sans-serif;
  background-color: #f6fff9;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

/* --- Container --- */
.container {
  display: flex;
    flex-direction: column;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  gap: 20px;

}
/* --- Container paragraphs,headline,and image --- */
.container div {
  
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    gap: 20px;

    
}
