
header, footer {
  background-color: #ffa500;
  text-align: center;
  min-width: 500px;
  border-radius: 25px;
  padding: 65px;
}


main {
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(3, 450px);
  gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: start;
  align-items: stretch;
  grid-auto-rows: 450px;
  align-content: center;
  /* remove grid-auto-flow: column */


}


h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}


img {
  width: 300px;
  height: auto;
}


.box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 250, 160, 0.3);
  width: 300px;
  border-radius: 25px;
}




.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
  text-align: center;
}


.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}


.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}


.container {
  min-width: 500px;
  margin: auto;
}


footer {
  margin-top: 44px;
}
