
header, footer {
  background-color: #ffa500;
  text-align: center;
  min-width: 500px;
  border-radius: 25px;
  padding: 65px;
}


main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  margin-top: 44px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.box {
  background-color: rgba(255, 250, 160, 0.3);
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 250px;
  justify-self: center;
}

.box k,
.box l {
   place-self: center;
}


h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}


img {
  width: 230px;
  height: auto;
}


.mins {
  display: block;       
  margin: 0 auto;       
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}


.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}


.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}


.container {
  min-width: 500px;
  margin: auto;
}


footer {
  margin-top: 44px;
}
