/* abril-fatface-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/abril-fatface-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alan-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alan-sans-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



p {
  font-family: 'Alan Sans';
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* end reset browser styles */

html{

background-color: rgb(224, 255, 250);

}
body{

background-color: rgb(242, 255, 253);
border: 3px solid rgb(119, 163, 156);
box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
max-width: 760px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
padding: 15px;
}
h1 {

font-size: 2.75em;
font-family: 'Abril Fatface';
font-weight: heavy;
text-align: center;
letter-spacing: 3px;
color: rgb(0, 87, 73);
text-transform: uppercase;
background-color: rgb(243, 255, 253);
padding: 5px 15px 2px 15px;
margin: 0 -15px 20px -15px;
}

img{
float: left;
border-radius: 10px;
margin-right: 5px;
}
h2 {
  font-family: 'Abril Fatface';
  font-size: 1.5em;
  color: rgb(249,107,24);
  border-top: 2px dotted rgb(141,165,22);
  border-bottom: 2px dotted rgb(141,165,22);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px 0 5px 0;
  overflow: hidden;
}
  
aside {
width:30%;
float: right;
margin: 10px;
background-color: rgb(250,235,199);
padding: 10px 20px;
border: 1px dotted rgb(252,101,18);
border-top: 20px solid rgb(252,101,18);
border-radius: 10px;
box-shadow: 5px 5px 10px rgba( 0,0,0,5);
position: sticky;
height: fit-content;
}

aside h3 {

border: none;
margin-top: 0;
padding: 0;
}

h3 {
  font-family: 'Abril Fatface';
  font-size: 1.5em;
  color: rgb(249,107,24);
  border-top: 2px dotted rgb(141,165,22);
  border-bottom: 2px dotted rgb(141,165,22);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px 0 5px 0;
  overflow: hidden;
}
        
.boris-img {
  display: block;
  margin-bottom: 20px;
  border-radius: 8px; 
  margin-left: auto;
  margin-right: auto;
}
.wiki-button {
  display: inline-block;
  background-color: rgb(245, 133, 49); 
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px; 
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
  margin-top: 20px;          
  margin-bottom: 20px; 
  margin-left: 110px
}


.wiki-button:hover {
  background-color: rgb(255, 145, 60); 
  transform: scale(1.05);
}      

ul {
  font-family: 'Alan Sans';
}

.runner-name {
  text-align: center;
}

.why {
  
  font-family: 'Abril Fatface';
  font-size: 1.5em;
  color: rgb(249,107,24);
  padding-top: 5px;
  padding-bottom: 5px;
}
